@font-face {
  font-family: "Bahnschrift";
  src: url(../font/BAHNSCHRIFT.TTF);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Bahnschrift";
}
body header {
  background-image: url(../img/Layer3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body header nav ul {
  display: flex;
  justify-content: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  list-style-type: none;
  padding-inline-start: 0px;
  padding-top: 20px;
}
body header nav ul li {
  padding-left: 20px;
  padding-right: 20px;
}
body header nav ul li a {
  text-decoration: none;
  color: #fdf8f8;
  font-size: 18px;
  transition: 0.4s;
}
body header nav li:hover::first-letter {
  color: #272b3e;
}
body header nav li:first-child {
  padding-right: 20px;
  padding-left: 0px;
}
body header nav li:last-child {
  padding-right: 0px;
  padding-left: 20px;
}
body header h1 {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  line-height: 0.6;
  font-size: 60px;
  font-weight: bold;
  color: #272b3e;
}
body header div {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  width: 570px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 400px;
}
body .about-me {
  margin-left: 400px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 2;
  color: #272b3e;
}
body .my_name {
  width: 700px;
  margin: 0 auto;
  font-size: 17px;
  padding-bottom: 30px;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #272b3e;
}
body .section2 {
  background-color: #a1b0c9;
}
body .section2 .skills {
  padding-left: 400px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 2;
  color: #ffffff;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
body .section2 .skills_box {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
body .section2 ul {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
}
body .section3 {
  background-color: #f3f1ed;
}
body .section3 h3 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #272b3e;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
body .section3 .grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 20px;
}
body .section3 .grid .grid-item a img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
body .section3 .grid .grid-item a img:hover {
  border: 1px solid silver;
}
body footer {
  background-color: #a1b0c9;
}
body footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
body footer ul .img {
  width: 60px;
  height: 60px;
  color: #272b3e;
}
